

.Container{
    height: 100vh;
    display: flex;
}

.ContainerLeft{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.Select{
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    border: none;
    width: 150px;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.ContainerLeft h1{
    margin-left: 20px;
    color: white;
    font-family: 'Roboto';
    font-weight: 30;
}
.ContainerLeft input{
    margin-top: 40px;
    font-family: 'Roboto';
    margin: 14px;
    border-radius: 10px;
    color: white;
    cursor: pointer;;
    font-size: 16px;
}


.ContainerLeft button{
    height: 20px;
    margin-top: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto';
    cursor: pointer;
    font-size: 16px;
    transition: 0.7s;
    height: 30px;
}

.Container button:hover{
    background-color: green;
    color: white;
    transition: 0.7s;
}

.Card{
    background-color: #0d2b81;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    height: 200px;
    padding: 50px;
    border-radius: 10px;
}