.Container {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}

.Formulario {
  display: flex column;
  height: 100%;
  margin: auto;
  width: 700px;
}

.ContainerForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 40px;
  background-color: #0d2b81;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.ContainerForm input {
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.ContainerForm label {
  padding: 3px;
  margin-left: 10px;
  color: white;
  font-size: 18px;
  font-family: "Roboto";
}

.Select {
  padding: 7px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.ContainerForm p {
  padding: 7px;
  margin: 10px;
  font-size: 23px;
  color: white;
}

.ContainerForm button {
  width: 140px;
  margin: 10px;
  padding: 7px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

.ContainerForm button:hover {
  background-color: green;
  transition: 0.7s;
  color: white;
}

.ContainerForm img {
  width: 10%;
  margin: 10px;
}

.Title {
  text-align: center;
  margin-top: 20px;
}
