* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

input:focus {
  outline: none;
}
