.Card {
  background-color: #0d2b81;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  height: 320px;
  border-radius: 10px;
  display: flex column;
  align-items: center;
  justify-content: center;
  
}

.Card strong {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: white;
font-weight: 400;
  margin-top: 2%;
  margin-bottom: 10px;
}

.Card textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin-top: 10px;
  margin: auto;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.Card textarea:focus {
  outline: none;
}

.Trash {
  color: white;
  margin-left: 5%;
  margin-top: 1%;
  cursor: pointer;
  transition: 0.7s;
}

.Trash:hover {
  color: red;
  transition: 0.7s;
}
